<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Add Book</title>
</head>
<body>
<h1>Add Book</h1>
<form th:action="@{/books/add}" method="post">
  <label>ISBN:</label>
  <input type="text" name="isbn" th:value="${book.isbn}" required/><br/>
  <label>Title:</label>
  <input type="text" name="title" th:value="${book.title}" required/><br/>
  <label>Author:</label>
  <input type="text" name="author" th:value="${book.author}" required/><br/>
  <label>Publisher:</label>
  <input type="text" name="publisher" th:value="${book.publisher}" required/><br/>
  <label>Year Published:</label>
  <input type="number" name="yearPublished" th:value="${book.yearPublished}" required/><br/>
  <label>Genre:</label>
  <input type="text" name="genre" th:value="${book.genre}" required/><br/>
  <label>Available:</label>
  <input type="checkbox" name="isAvailable" th:checked="${book.isAvailable}"/><br/>
  <button type="submit">Save</button>
</form>
<a href="/books">Back to Book List</a>
</body>
</html>
